<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="/">
      <img src="/img/icons/logo.png" width="42" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {{#if isindex}}
        <a class="nav-link active" href="/">Home</a>
        {{else}}
        <a class="nav-link" href="/">Home</a>
        {{/if}}
        {{#if isServers}}
        <a class="nav-link active" href="/servers">Servers</a>
        {{else}}
        <a class="nav-link" href="/servers">Servers</a>
        {{/if}}
        {{#if isSkins}}
        <a class="nav-link active" href="/skins">Osu!Skins</a>
        {{else}}
        <a class="nav-link" href="/skins">Osu!Skins</a>
        {{/if}}
      </ul> 
      <div class="temp">
        <a class="nav-link" href="https://vk.com/curlydev">
          <img src="/img/icons/header/VK.svg" alt="vk" width="25" height="25">
        </a>
        <a class="nav-link" href="https://discord.com/invite/tr67xfF">
          <img src="/img/icons/header/Discord.svg" alt="discord" width="25" height="25">
        </a>  

        </div>     
{{!--           <a class="nav-link" href="https://github.com/DexterLandry15/CurlyDev-frontend">
            <img src="./img/icons/header/Github.svg" alt="github" width="25" height="25">
        </a>   --}}
    </div>
  </nav>