<section class="authors">
    <script src="js/copyToClipboard.js"></script>  
    <script src="js/toCopy.js"></script>  
  <div class="container">
      <div class="row">
        <div class="col">
        <div class="authors_item mx-auto">
            <div class="authors_round">
              <img src="{{ dexter_vk }}" alt="1" class="authors_icon">
          </div>
          <div class="authors_name">Dexter Landry</div>
          <div class="authors_descr">Web-developer</div>
          <div class="authors_links">
            <div class="link"><a href="https://vk.com/dexterlandry"><img src="./img/icons/links/VK_white.svg" alt="vk"></a></div>
            <div class="link"><a title="copy" onclick="dexterDiscord()" href="#" id="ds"><img src="./img/icons/links/Discord_white.svg" alt=""></a></div>
            <div class="link"><a href="https://github.com/DexterLandry15"><img src="./img/icons/links/Github_white.svg" alt=""></a></div>
            <div class="link"><a href="https://steamcommunity.com/id/dexterlandry/"><img src="./img/icons/links/Steam_white.svg" alt=""></a></div>
            <div class="link"><a href="tg://resolve?domain=dexter_landry"><img src="./img/icons/links/Telegram_white.svg" alt=""></a></div>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="authors_item mx-auto">
          <div class="authors_round">
              <img src="{{ ostin_vk }}" alt="2" class="authors_owner_icon">
          </div>
          <div class="authors_owner_name">Ostin Scott</div>
          <div class="authors_owner_descr">Owner</div>
          <div class="authors_links">
          <div class="link"><a href="https://vk.com/mephedronemn"><img src="./img/icons/links/VK_white.svg" alt="vk"></a></div>
          <div class="link"><a title="copy" onclick="ostinDiscord()" href="#"><img src="./img/icons/links/Discord_white.svg" alt=""></a></div>
          <div class="link"><a href="https://steamcommunity.com/id/Vannog/"><img src="./img/icons/links/Steam_white.svg" alt=""></a></div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="authors_item mx-auto">
            <div class="authors_round">
              <img src="{{ gelshteyn_vk }}" alt="3" class="authors_icon">
          </div>
          <div class="authors_name">Maxim Gelshteyn</div>
          <div class="authors_descr">Lua-coder</div>
          <div class="authors_links">
            <div class="link"><a href="https://vk.com/gelshteyn2"><img src="./img/icons/links/VK_white.svg" alt="vk"></a></div>
            <div class="link"><a title="copy" onclick="gelshteynDiscord()" href="#"><img src="./img/icons/links/Discord_white.svg" alt=""></a></div>
            <div class="link"><a href="https://steamcommunity.com/id/dexterlandry/"><img src="./img/icons/links/Steam_white.svg" alt=""></a></div>
            <div class="link"><a href="tg://resolve?domain=gelshteyn2"><img src="./img/icons/links/Telegram_white.svg" alt=""></a></div>
          </div> <!-- mokake -->
          </div>
        </div>
    </div>
  </div>
</section>