<section class="monitor">
    <div class="container">
        <div class="row">
            <div class="stats">
                <div class="mem"><img class="icon" src="/img/monitor/ico/ram.svg" alt=""><span class="mem_text">Memory: {{ usemem }} GB of {{ allmem }} GB</span></div>
                <div class="mem"><img class="icon" src="/img/monitor/ico/ram.svg" alt=""><span id="test" class="mem_text">Platform: {{ osplatform }}</span></div>
                <div class="mem"><img  style="color: #aeaeae;"class="icon" src="/img/monitor/ico/ram.svg" alt=""><span class="mem_text">{{ uptime }}</span></div>
            </div>
        </div>
    </div>
</section>