<section class="skins">
<div class="container">
    <div class="row">
        <div class="col">
          
            <div class="card" style="width: 18rem;">
                 <img src="/img/skins/tokyo/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tokyo skin</h5>
              <h6 class="card-subtitle mb-2 text-muted"><a href="https://osu.gatari.pw/u/14415" class="osulink">Dexter_Landry</a>, <a href="https://osu.ppy.sh/users/1306637"  class="osulink">FakinKrakin</a> </h6>
              <p class="card-text">Минималичтичный скин для любителей неона</p>              
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://youtu.be/dJiy2efkGi4" class="card-link">Preview</a></li>
              <li class="list-group-item"><a href="{{ tokyo_skin }}" class="card-link">Download</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/skins/mob/mob.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Mob psycho 100</h5>
         <h6 class="card-subtitle mb-2 text-muted"><a href="https://osu.ppy.sh/users/1306637" class="osulink">FakinKrakin</a></h6>
         <p class="card-text">Красивый скин в стиле аниме "Моб психо 100"</p>              
       </div>
       <ul class="list-group list-group-flush">
         <li class="list-group-item"><a href="https://youtu.be/svBbQ3M8Hmg" class="card-link">Preview</a></li>
         <li class="list-group-item"><a href="{{ mob_skin }}" class="card-link">Download</a></li>
       </ul>
     </div>

        </div>
    </div>
</div>
</section>