<div class="container">
  <div class="dev-prev"><span>Dev-Preview</span></div>


<div class="row row-cols-1 row-cols-md-4">
  <div class="col mb-4">
    <div class="card h-82">
      <img src="https://i.ytimg.com/vi/PHLX7MnJL5Y/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCzuxhCpSsc7xG1GI2MO69mWmel7A" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Keqing from Genshin Impact</h5>
        <h6 class="card-subtitle mb-2 text-muted">Авторы: <a href="https://osu.ppy.sh/users/1306637"  class="osulink">FakinKrakin</a> </h6>
      </div>
                  <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://youtu.be/PHLX7MnJL5Y" class="card-link">Preview</a></li>
              <li class="list-group-item"><a href="https://boosty.to/fakinkrakin/posts/ee6041f2-b13b-49ec-ab55-ffc79979f597" class="card-link">Download</a></li>
            </ul>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-82">
      <img src="https://i.ytimg.com/vi/HPXAKKrlc2k/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDldjDhDVM5Vb7gEAFZRb4UaQ0ojA" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chtholly</h5>
        <h6 class="card-subtitle mb-2 text-muted">Авторы: <a href="https://osu.ppy.sh/users/1306637"  class="osulink">FakinKrakin</a> </h6>
      </div>
                        <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://youtu.be/HPXAKKrlc2k" class="card-link">Preview</a></li>
              <li class="list-group-item"><a href="https://boosty.to/fakinkrakin/posts/ff85d44c-1506-442e-a957-e09be3b0c474" class="card-link">Download</a></li>
            </ul>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-82">
      <img src="https://i.ytimg.com/vi/5Gtiv5QVtoQ/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCqbdcOFh8fiAalprc-efpIAzu19Q" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rem </h5>
        <h6 class="card-subtitle mb-2 text-muted">Авторы: <a href="https://osu.gatari.pw/u/14415" class="osulink">Dexter_Landry</a>, <a href="https://osu.ppy.sh/users/1306637"  class="osulink">FakinKrakin</a> </h6>
      </div>
                        <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://youtu.be/5Gtiv5QVtoQ" class="card-link">Preview</a></li>
              <li class="list-group-item"><a href="https://boosty.to/fakinkrakin/posts/5639da4d-6e3b-4ecf-b340-7c7873a5bba3" class="card-link">Download</a></li>
            </ul>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-82">
      <img src="https://i.ytimg.com/vi/svBbQ3M8Hmg/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDRspaxivnAJ1YxTXMFUOaz0oBpnA" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mob Psyho 100</h5>
        <h6 class="card-subtitle mb-2 text-muted">Авторы: <a href="https://osu.ppy.sh/users/1306637"  class="osulink">FakinKrakin</a> </h6>
      </div>
                        <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://youtu.be/svBbQ3M8Hmg" class="card-link">Preview</a></li>
              <li class="list-group-item"><a href="https://boosty.to/fakinkrakin/posts/8314f8e7-e0e5-4bbd-9d55-47e34fa27eac" class="card-link">Download</a></li>
            </ul>
    </div>
</div>

    <div class="col mb-4">
    <div class="card h-82">
      <img src="https://i.ytimg.com/vi/dJiy2efkGi4/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCul32HnTwOBKnEk0Rtbk8IsgoUPw" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tokio </h5>
        <h6 class="card-subtitle mb-2 text-muted">Авторы: <a href="https://osu.gatari.pw/u/14415" class="osulink">Dexter_Landry</a>, <a href="https://osu.ppy.sh/users/1306637"  class="osulink">FakinKrakin</a> </h6>
      </div>
                        <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://youtu.be/dJiy2efkGi4" class="card-link">Preview</a></li>
              <li class="list-group-item"><a href="https://boosty.to/fakinkrakin/posts/edb00a43-7a1a-4db7-888d-795956eb66f0?share=post_link" class="card-link">Download</a></li>
            </ul>
    </div>
  </div>

</div>
</div>