<div class="container">
    <div class="row">
        <div class="test">
            {{ server_name }} <br>
            {{ server_map }} <br>
            {{ server_players }}
        </div>
    </div>
</div>