<section class="servers">
<div class="container">
    <div class="row">
        <div class="server drp">
          <ul>
            <li>{{ drp_name }}</li>
            <li>{{ drp_map}}</li>
            <li>{{ drp_players}}</li>
          </ul>
      </div>
    </div>
</div>
</section>