<section class="servers">
<div class="container">
    <div class="row row-cols-2">

          <div class="col">
          <div class="monitor">
          <ul>
            <li>{{ drp_name }}</li>
            <li>{{ drp_map}}</li>
            <li>{{ drp_players}}</li>
            <li><a href="steam://connect/{{drp_ip}}">Подключиться</a></li>
          </ul>
          </div>
          </div>
          <div class="col">
                <div class="descr">
        Игровой сервер в Garry's mod в режиме DarkRP. На сервере отстутствует "Pay to win" в отличие от других серверов в этом режиме, так как мы стараемся сделать игровой опыт на RP сервере максимально приятным для наших игроков.
      </div>
      </div>


    </div>
</div>
</section>
