@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #44336d;


    height:964px;
}
 
.navbar-custom {
    background-color: #322255 !important;
}


@media (max-width: 768px) {
    .row{
        display: block;
    }
}