.servers {
    display: flex;
    align-items:center;
    background: url('../img/server/psx_autumn2001.png');
    background-position: center center;
    height: 450px;
}

.server {
  font-family: podkova;
  font-size:30px;
  color: #aeaeae;
  height: 180px;
}



li{
  list-style-type: none;  
}

@media (max-width: 991px) {
.servers{
    background: #44336d;
}
}