.servers {
    display: flex;
    align-items:center;
    background: url('../img/server/psx_autumn2001.png');
    background-position: center center;
    height: 450px;
}

.servers span {
    font-family: Podkova;
    color: #aeaeae;
    text-align: center;
    font-size: 60px;
    margin: 0 auto;
}
@media (max-width: 991px) {
.servers{
    background: #44336d;
}
}